header {
  height: 34px;
}

.treeImg {
  float:left;
  height: 35px;
}

.nav {
  float: right;
  height: 34px;
  padding-top: 10px;
}

.org {
  color: #42198e;
  margin-right: 45px;
  text-decoration-line: none;
}

.sign-in {
  color: #42198e;
  margin-right: 45px;
  text-decoration-line: none;
}

.sign-up {
  color: #42198e;
  margin-right: 45px;
  text-decoration-line: none;
}

.free-trial {
  color: #42198e;
  margin-right: 60px;
  text-decoration-line: none;
}

body {
  margin: 0px;
}

.top {
  background-color: #1bbfe8;
  height: 440px;
}

.upper {
  color: #fcfcfc;
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}

.middle {
  color: #fcfcfc;
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}

.lower {
  border: 1px solid #fcfcfc;
  height: 35px;
  margin:20px 0px 0px 582px;
  width: 93px;
}

.button {
  color: #42198e;
  padding: 10px;
}

.main-logo {
  height: 200px;
  margin:40px 0px 0px 500px;
}

.center {
  height: 450px;
}

.begin {
  color: #b1a9aa;
  font-size: 20px;
  font-weight: 900;
  padding: 50px 0px 15px;
  text-align: center;
}

.info {
  text-align: center;
}

.center-para {
  color: #d2c6c7;
  font-size: 15px;
}

.lap {
  height: 200px;
  margin-left: 500px;
}

.bottom {
  background-color: #1bbfe8;
  }

form {
  border-color: solid #fcfcfc;
  color:#fcfcfc;
  margin-left: 500px;
  margin-right: 500px;
  }

  input {
    width: 200px;
  }

  select {
    width: 210px;
  }

  .submit {
    margin: 17px 0px 0px 70px;
    width: 70px;
  }

  .form-part {
    padding: 25px 0px;
  }
